# Real Estate Data - Database Cleaning

This project demonstrates my approach to database cleaning by working with real estate listing data from Bangladesh.

Upon initial inspection, the dataset contains various inconsistencies and non-ideal formatting choices. My goal is to enhance its readability, consistency, and usability, making it more suitable for analysis.

Some of the goals include:
* inspect and manage missing data,
* ensure correct data types of each column,
* convert the data to enable easy filtering and sorting.

## Importing libraries

In [4]:
import pandas as pd
import numpy as np

## Inspection of the data

In [6]:
reData = pd.read_csv('raw_data_rental_listings.csv')
reData.head()

,url,title,property type,property size,parking,lift,floor,price,service_charge,year built,building registration type,preferred tennant,interior,garage size,front road size,common area,bedrooms,bathrooms,location,country
0,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 2000 Sq Ft Is Up...,Residential Apartment,2000 Sq Ft,1,1,3rd Floor Available,"BDT 80,000/-","BDT 8,500/-",2010.0,Residential,Foreigner,Un-Furnished,120 Sq. Ft.,16 Ft.,180 Sq Ft,03 Bedrooms,03 Bathrooms,"Banani, Dhaka 1213",Bangladesh
1,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 4500 Sq Ft Is Up...,Residential Apartment,4500 Sq Ft,2,1,6th-7th floor (Duplex),"BDT 220,000/-","BDT 17,000/-",2012.0,Residential,Foreigner,Semi-Furnished,240 Sq. Ft.,12 Ft.,250 Sq Ft,04 Bedrooms,04 Bathrooms,"Gulshan, Dhaka 1212",Bangladesh
2,https://rents.com.bd/property/brand-new-and-ta...,Brand New And Tastefully Designed This 20000 S...,Commercial space rent in Dhaka | 225+ Spaces f...,20000 Sq. Ft. (Per floor 4000 Sq. Ft.),05 car parking,3,11th-15th floor available,"BDT 29,00,000/- (BDT 145/- per Sq Ft)","BDT 300,000/- (BDT 15/- per Sq Ft)",2023.0,Commercial,Corporate Office or MNC Office,Un-Furnished,600 Sq Ft.,50 Ft.,1250 Sq Ft,NaN,NaN,"Gulshan, Dhaka 1212",Bangladesh
3,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 2250 Sq Ft Is Up...,Residential Apartment,2250 Sq Ft,1,2,7th Floor Available,"BDT 100,000/-","BDT 15,000/-",2017.0,Residential,Foreigner,Un-Furnished,120 Sq. Ft.,24 Ft.,180 Sq Ft,03 Bedrooms,03 Bathrooms,"Gulshan, Dhaka 1212",Bangladesh
4,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 4300 Sq Ft Is Up...,Residential Apartment,4300 Sq Ft,2,2,5th floor,"BDT 220,000/-","BDT 25,000/-",2010.0,Residential,Foreigner,Un-Furnished,240 Sq. Ft.,16 Ft.,250 Sq Ft,04 Bedrooms,04 Bathrooms,"Gulshan, Dhaka 1212",Bangladesh

In [7]:
for i in range(len(reData.columns)):
    reData.rename(columns = {reData.columns[i]: reData.columns[i].replace(' ', '_')}, inplace=True)
print(reData.columns)
# Converting the column names to save some time using autocompletion.

Index(['url', 'title', 'property_type', 'property_size', 'parking', 'lift',
       'floor', 'price', 'service_charge', 'year_built',
       'building_registration_type', 'preferred_tennant', 'interior',
       'garage_size', 'front_road_size', 'common_area', 'bedrooms',
       'bathrooms', 'location', 'country'],
      dtype='object')

In [8]:
print('Missing values and data types of the columns: \n')
print(reData.info())

Missing values and data types of the columns:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 818 entries, 0 to 817
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   url                         818 non-null    object
 1   title                       818 non-null    object
 2   property_type               818 non-null    object
 3   property_size               743 non-null    object
 4   parking                     728 non-null    object
 5   lift                        727 non-null    object
 6   floor                       646 non-null    object
 7   price                       745 non-null    object
 8   service_charge              667 non-null    object
 9   year_built                  743 non-null    float64
 10  building_registration_type  735 non-null    object
 11  preferred_tennant           679 non-null    object
 12  interior                    743 non-null    object
 13  garage_size                 726 non-null    object
 14  front_road_size             743 non-null    object
 15  common_area                 743 non-null    object
 16  bedrooms                    445 non-null    object
 17  bathrooms                   444 non-null    object
 18  location                    818 non-null    object
 19  country                     818 non-null    object
dtypes: float64(1), object(19)
memory usage: 127.9+ KB
None

## Checking for duplicates

In [10]:
duplicates = reData.duplicated()
print(duplicates.value_counts())
# Number of duplicate rows in the database
len(reData)

False    811
True       7
Name: count, dtype: int64

818

In [11]:
reData = reData.drop_duplicates()
print(len(reData))
reData.reset_index(drop=True)

811

,url,title,property_type,property_size,parking,lift,floor,price,service_charge,year_built,building_registration_type,preferred_tennant,interior,garage_size,front_road_size,common_area,bedrooms,bathrooms,location,country
0,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 2000 Sq Ft Is Up...,Residential Apartment,2000 Sq Ft,1,1,3rd Floor Available,"BDT 80,000/-","BDT 8,500/-",2010.0,Residential,Foreigner,Un-Furnished,120 Sq. Ft.,16 Ft.,180 Sq Ft,03 Bedrooms,03 Bathrooms,"Banani, Dhaka 1213",Bangladesh
1,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 4500 Sq Ft Is Up...,Residential Apartment,4500 Sq Ft,2,1,6th-7th floor (Duplex),"BDT 220,000/-","BDT 17,000/-",2012.0,Residential,Foreigner,Semi-Furnished,240 Sq. Ft.,12 Ft.,250 Sq Ft,04 Bedrooms,04 Bathrooms,"Gulshan, Dhaka 1212",Bangladesh
2,https://rents.com.bd/property/brand-new-and-ta...,Brand New And Tastefully Designed This 20000 S...,Commercial space rent in Dhaka | 225+ Spaces f...,20000 Sq. Ft. (Per floor 4000 Sq. Ft.),05 car parking,3,11th-15th floor available,"BDT 29,00,000/- (BDT 145/- per Sq Ft)","BDT 300,000/- (BDT 15/- per Sq Ft)",2023.0,Commercial,Corporate Office or MNC Office,Un-Furnished,600 Sq Ft.,50 Ft.,1250 Sq Ft,NaN,NaN,"Gulshan, Dhaka 1212",Bangladesh
3,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 2250 Sq Ft Is Up...,Residential Apartment,2250 Sq Ft,1,2,7th Floor Available,"BDT 100,000/-","BDT 15,000/-",2017.0,Residential,Foreigner,Un-Furnished,120 Sq. Ft.,24 Ft.,180 Sq Ft,03 Bedrooms,03 Bathrooms,"Gulshan, Dhaka 1212",Bangladesh
4,https://rents.com.bd/property/a-modern-well-pl...,A Modern Well-planned Flat Of 4300 Sq Ft Is Up...,Residential Apartment,4300 Sq Ft,2,2,5th floor,"BDT 220,000/-","BDT 25,000/-",2010.0,Residential,Foreigner,Un-Furnished,240 Sq. Ft.,16 Ft.,250 Sq Ft,04 Bedrooms,04 Bathrooms,"Gulshan, Dhaka 1212",Bangladesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,https://rents.com.bd/property/3500-sq-ft-furni...,3500 Sq Ft Furnished apartment rent in Park ro...,"Furnished Apartment For Rent In Dhaka, Residen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gulshan, Dhaka, Chanpara Bazar, Dhaka District...",Bangladesh
807,https://rents.com.bd/property/2500-sq-ft-retai...,2500 Sq Ft Retail space for rent in Banani,Commercial space rent in Dhaka | 225+ Spaces f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Banani, Gulshan, Dhaka, Chanpara Bazar, Dhaka ...",Bangladesh
808,https://rents.com.bd/property/3500-sft-furnish...,3500 sft Furnished apartment rent in Gulshan,"Furnished Apartment For Rent In Dhaka, Residen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gulshan, Dhaka, Chanpara Bazar, Dhaka District...",Bangladesh
809,https://rents.com.bd/property/3300-sft-furnish...,3300 sft Furnished apartment rent in Baridhara...,"Furnished Apartment For Rent In Dhaka, Residen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gulshan, Dhaka, Chanpara Bazar, Dhaka District...",Bangladesh
810,https://rents.com.bd/property/3000-sft-furnish...,3000 sft Furnished apartment rent in Banani,"Furnished Apartment For Rent In Dhaka, Residen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,banani,Bangladesh

## Fixing column data types

Almost all of the columns of the database are of the `'object'` type, which is obviously wrong for many numerical variables i.e. property size, parking, lift, price. I'm going to modify them to enable conversion to correct data types.

### property_size

In [15]:
reData.property_size = reData.property_size.replace('\([^)]*\)', '', regex=True)
# Removes all the additional data in '(...)' brackets (i.e. (Per floor 4000 Sq. Ft.))
reData.property_size = reData.property_size.replace('[\sSsqFft\.]', '', regex=True)
# Removes all the whitespace characters and various forms of 'Sq. Ft.'

# reData.property_size = pd.to_numeric(reData.property_size)
# Conversion to numeric type doesn't execute yet, as some values most likely still have additional characters. 
print(reData.loc[reData.property_size.str.contains(r'\D', regex=True, na=False)].property_size)

86         3285/306Meer
238              20,000
250              14,000
277              13,500
278              20,000
             ...
745    3000/240uareMeer
746    2600/208uareMeer
747    3700/296uareMeer
748    3500/280uareMeer
750        2600/208Meer
Name: property_size, Length: 198, dtype: object

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\('
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Admin\AppData\Local\Temp\ipykernel_21804\410633447.py:1: SyntaxWarning: invalid escape sequence '\('
  reData.property_size = reData.property_size.replace('\([^)]*\)', '', regex=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_21804\410633447.py:3: SyntaxWarning: invalid escape sequence '\s'
  reData.property_size = reData.property_size.replace('[\sSsqFft\.]', '', regex=True)

In [16]:
reData.property_size = reData.property_size.replace('[,]', '', regex=True)
# Fixes columns with ',' as seperator.
reData.property_size = reData.property_size.str.extract(r'(^\d+)')
# Extracts only the first numerical value of each cell, removing the value in sq. meters
reData.property_size = pd.to_numeric(reData.property_size)
reData.property_size = pd.to_numeric(reData.property_size, downcast="signed")
print(reData.property_size.dtype)

float64

### parking

In [18]:
reData.parking.unique()
# Checking all the values as I expect there to be a managable number of them.

array(['1', '2', '05 car parking', '3', '01 car parking',
       '06 car parking', '02 car parking', '02 Car Parking',
       '38 Car Parking', '03 Car Parking', '06 Car Parking', nan,
       '01 Car Parking', '4 Car Parking', '01 car parking (Per floor)',
       '04 Car Parking', '10 Car Parking', '08 Car Parking',
       '45 Car Parking', '09 Car Parking', '05 Car Parking', '10', '9',
       '6', '11', '07 Car Parking', '2 Car Parking', '021 Car Parking',
       '\xa002 Car Parking', '\xa001 Car Parking'], dtype=object)

In [19]:
reData.parking= reData.parking.str.replace('[\D]', '', regex=True)

# There are no rows with value '0' in parking spaces count, so I'm going to assume that the NaN values are 0s.
reData.loc[reData.parking.isnull(), 'parking'] = 0

reData.parking = pd.to_numeric(reData.parking)
reData.parking = pd.to_numeric(reData.parking, downcast="signed")
reData.parking.unique()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Admin\AppData\Local\Temp\ipykernel_21804\3266809195.py:1: SyntaxWarning: invalid escape sequence '\D'
  reData.parking= reData.parking.str.replace('[\D]', '', regex=True)

array([ 1,  2,  5,  3,  6, 38,  0,  4, 10,  8, 45,  9, 11,  7, 21],
      dtype=int8)

### lift

In [21]:
reData.lift.value_counts()

lift
2                   205
02 available        154
1                   143
01 available        107
3                    29
02 Available         20
4                    13
01 Available         12
03 available         10
03 Available          8
6                     5
5                     3
04 Available          3
No                    2
04 available          2
 N/A                  1
Individual house      1
0                     1
Not Available         1
Name: count, dtype: int64

In [22]:
# Looking at the unique values I would assume that every value without a given number (i.e.'No', ' N/A ' etc.) means that there is 0 lifts.
reData.loc[reData.lift.str.match(r'^[/A-Za-z\s]+$', na=False), 'lift'] = '0'
reData.lift = reData.lift.fillna('0')

In [23]:
reData.lift = reData.lift.str.extract(r'(\d*)')
reData.lift = pd.to_numeric(reData.lift)
reData.lift = pd.to_numeric(reData.lift, downcast="signed")

In [44]:
reData.dtypes

url                            object
title                          object
property_type                  object
property_size                 float64
parking                          int8
lift                             int8
floor                          object
price                          object
service_charge                 object
year_built                    float64
building_registration_type     object
preferred_tennant              object
interior                       object
garage_size                    object
front_road_size                object
common_area                    object
bedrooms                       object
bathrooms                      object
location                       object
country                        object
dtype: object